@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 69, 29);
}
.calculator {
  border: 2px solid #212121;
  padding: 20px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0px 3px 15px rgba(255, 225, 225, 0.9);
}
input {
  width: 100%;
  border: none;
  padding: 20px;
  margin: 10px;
  background-color: transparent;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

button {
  border: 2.7px solid rgba(20, 20, 20, 0.5);
  width: 120px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 3px 15px rgba(110, 120, 150, 0.7);
  cursor: pointer;
}
.equal {
  background-color: rgba(189, 189, 22, 0.763);
}
.operator {
  color: #fbc714;
}
